**/bin/
bin-int/
.vs/
**/build/
**/out/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.lib
**.dll
CMakeSettings.json
CMakePresets.json
*.json
!.vscode/*.json
*.log
*rp3d_profiling_.txt
*imgui.ini