**/bin/
bin-int/
.vs/
**/build/
**/out/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.lib
**.dll
*.json
*.log
*rp3d_profiling_.txt
*imgui.ini

!**/vendor/CMakeLists.txt
**/vendor/

#include
!CMakeSettings.json
!CMakePresets.json
!.vscode/*.json