bin/
bin-int/
.vs/
build/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.lib
**.dll
*.json
*.log
*rp3d_profiling_.txt
*imgui.ini

#include
!CMakeSettings.json
!CMakePresets.json
!.vscode/*.json